*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color:rgb(181, 76, 76)
}
footer {
    color:white;
}
.topnav {
    overflow: hidden;
    background-color: #b4abab;
    padding: 5px; /* Decrease the top and bottom padding */
}
.topnav img {
    top: 5px;        
    left: 60px; 
}
.topnav a {
    display: inline-block; /* Set display to inline-block to make all links in the same line */
    color: black;
    text-align: center;
    padding: 8px;
    font-size: 20px;
    cursor: pointer;
    margin-right: 30px; /* Add margin to space out the links horizontally */
}
.topnav a:hover { /* This is to change the color when the button is hovered both background and text */ 
    background-color: #b4abab;
    color: red;
}
.topnav input[type=text] { /* CSS for the actual search bar */
    padding: 6px;
    margin-top: 10px;
    margin-right: 16px;
    font-size: 17px;
}
.topnav button {
    position: relative;  
    width: 32px;
    height: 32px;
    top: -2px;        
    left: -17px; 
}
